body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
ul {
  padding: 0px !important;
}
.menu-principal {
  width: 100%;
  background-color: #252323;
  height: 60px;
}
main {
  margin: 0 auto;
  position: relative;
  width: 980px;
}
.logo {
  float: left;
  padding: 16px;
  width: 70%;
}
.redes-sociais {
  width: 20%;
  float: right;
}
.redes-sociais ul li {
  margin-left: 35px;
  display: inline-block;
  float: left;
  margin-left: 10px;
  list-style: none;
}
.header-2 {
  background-color: #fff;
  padding: 16px;
  width: 980px;
  margin: 0 auto;
}
.menu {
  width: 70%;
  float: left;
}
.menu ul li {
  display: inline-block;
  color: #8b8b8b;
  margin-left: 15px;
  height: 50px;
}

.menu ul li a:hover {
  color: #00bac6;
}
.menu ul li:hover {
  height: 30px;
  border-bottom: 2px solid #00bac6;
}

.menu ul li a {
  color: #8b8b8b;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
}
.search {
  text-align: center;
  width: 30%;
  float: right;
}
.search input {
  background-image: url("img/icone-search.png");
  border: 1px solid #d6d6d6;
  background-repeat: no-repeat;
  background-position: 95%;
  /* margin-top: 10px; */
  height: 36px;
  padding: 7px;
  width: 190px;
}

.search input::selection,
.search input:hover {
  border: 1px solid #00bac6;
  color: #00bac6;
}

.col-100 {
  position: relative;
  float: left;
  width: 100%;
}
.menu-urls {
  height: 80px;
  border-bottom: 3px solid #ededed;
}

button.slick-prev {
  border: none;
  background-image: url("img/anterior.png");
  background-color: transparent;
  height: 51px;
  width: 25px;
  font-size: 0px;
  z-index: 9;
  position: absolute;
  top: 35%;
  left: 14%;
}
button.slick-next {
  border: none;
  background-image: url("img/proximo.png");
  background-color: transparent;
  height: 51px;
  width: 25px;
  font-size: 0px;
  z-index: 9;
  position: absolute;
  top: 35%;
  right: 14%;
}
.slider {
  width: 100% !important;
}

.slick-initialized {
  overflow: hidden;
}
.slick-dots {
  margin: 0 auto;
  /* nao siga padrao da div pai */
  position: absolute;
  width: 50%;
  left: 45%;
  top: 600px;
}
/* botoes do slider */
.slick-dots li {
  /* um ao lado do outro */
  display: inline-block;
  margin: 0px 3px;
}
.slick-dots li button {
  border: 2px solid #fff;
  border-radius: 50%;
  font-size: 0px;
  height: 26px;
  width: 26px;
  background: transparent;
  cursor: pointer;
  border-radius: 50%;
}
ul.slick-dots li.slick-active {
  background-color: #00bac6;
  transition: 0.2s;
  border-radius: 50%;
}
