body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
ul {
  padding: 0px !important;
}
.menu-principal {
  width: 100%;
  background-color: #252323;
  height: 60px;
}
main,
.content {
  margin: 0 auto;
  width: 980px;
  position: relative;
}
.logo {
  float: left;
  padding: 16px;
  width: 70%;
}
.redes-sociais ul li {
  margin-left: 35px;
  display: inline-block;
  float: left;
  list-style: none;
}
.redes-sociais {
  width: 25%;
  float: right;
}
.header-2 {
  background-color: #fff;
  width: 980px;
  margin: 0 auto;
  padding: 16px;
}
.menu-urls {
  height: 80px;
  border-bottom: 3px solid #efefef;
}
.menu ul li {
  display: inline-block;
  color: #8b8b8b;
  margin-left: 15px;
  height: 50px;
}

.menu ul li:hover {
  border-bottom: 2px solid #00bac6;
}

.menu ul li a:hover {
  color: #00bac6;
}

.menu ul li a {
  color: #8b8b8b;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
}
.menu {
  width: 70%;
  float: left;
}
.search {
  text-align: center;
  width: 30%;
  float: right;
}
.search input {
  background-image: url("img/icone-search.png");
  border: 1px solid #d6d6d6;
  background-repeat: no-repeat;
  background-position: 95%;
  /* margin-top: 10px; */
  height: 36px;
  padding: 7px;
  width: 190px;
}

.search input::selection,
.search input:hover {
  border: 1px solid #00bac6;
  color: #00bac6;
}

.col-100 {
  position: relative;
  float: left;
  width: 100%;
}
.menu-urls {
  height: 80px;
  border-bottom: 3px solid #ededed;
}

button.slick-prev {
  font-size: 0px;
  border: none;
  width: 25px;
  height: 51px;
  z-index: 9;
  background-color: transparent;
  position: absolute;
  background-image: url("img/anterior.png");
  top: 35%;
  left: 14%;
}
button.slick-next {
  font-size: 0px;
  border: none;
  width: 25px;
  height: 51px;
  z-index: 9;
  background-color: transparent;
  position: absolute;
  background-image: url("img/proximo.png");
  top: 35%;
  right: 14%;
}
.slick-list {
  width: 100% !important;
}
.slick-initialized {
  overflow: hidden;
}
.slick-dots li button {
  font-size: 0px;
  border: 2px solid #fff;
  width: 26px;
  height: 26px;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
}
.slick-dots {
  margin: 0 auto;
  /* nao siga padrao da div pai */
  position: absolute;
  width: 50%;
  left: 45%;
  top: 600px;
}
.slick-dots li {
  display: inline-block;
  padding-left: 10px;
}
/* botoes do slider */
li.slick-active button {
  background: #00bac6;
  transition: 0.2s;
  border-radius: 50%;
}
/*  */
.texto-destaque {
  text-align: center;
}
.texto-destaque h1 {
  text-transform: uppercase;
  font-size: 30px;
  color: #818181;
}
.texto-destaque h1 > strong {
  color: #404040;
}
.texto-destaque p {
  color: #9a9a9a;
  font-size: 15px;
}
/*  */
.col-3 {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  width: 29%;
  float: left;
  position: relative;
}
.div-col {
  padding-right: 15px;
  padding-left: 15px;
  width: 29%;
  position: relative;
  float: left;
}
.bloco-texto {
  margin-top: 3em;
}
h3 {
  font-weight: normal;
}
/*  */
.bloco-imagem {
  height: 300px;
  margin-left: 10px;
  padding-bottom: 15px;
  padding-top: 15px;
  border: 1px solid #c5c5c5;
}
.bloco-imagem img {
  height: auto;
  width: 100%;
  margin: 0 auto;
}
.bloco-imagem b,
p {
  text-align: left;
}
.bloco-texto {
  margin-top: 3em;
}
.bloco-imagens-texto {
  background-color: #eee;
}
.bloco-imagens-texto::before {
  content: "";
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("./img/setinha.png");
  background: #fff;
  height: 52px;
  display: inline-block;
}
.bloco-imagens-texto::after {
  background: #eee;
  height: 70px;
  content: "";
  display: inline-block;
  width: 100%;
}
/*  */
.col-4 {
  float: left;
  text-align: center;
  width: 25%;
}
.col-4 img {
  vertical-align: middle;
  padding-top: 1em;
  margin: 0 auto;
  cursor: pointer;
}
.col-4 img:hover {
  position: relative !important;
  margin-top: 10px !important;
}
.bloco-logos {
  height: 170px;
}
.bloco-logos img {
  margin-top: 50px;
}
/*  */
.footer h3 {
  text-align: left;
}
.footer {
  color: #fff;
  background-image: url("./img/footer.png");
}
.footer-2 {
  color: #c1c1c1;
  background-image: url("./img/footer2.png");
}
.footer-2 p {
  text-align: left;
  width: 90%;
}
.clock {
  color: #898989 !important;
}

.clock::before {
  padding-left: 6px;
  background-repeat: no-repeat;
  float: left;
  background-image: url("./img/clock.png");
  display: inline-block;
  height: 15px;
  width: 15px;
  content: "";
}
.local:before,
.emailico:before,
.telefoneico:before {
  content: "";
  width: 17px;
  height: 24px;
  display: inline-block;
  float: left;
  background-repeat: no-repeat;
  padding-left: 5px;
}
.local:before {
  background-image: url("./img/local.png");
}
.emailico:before {
  background-image: url("./img/emailico.png");
}
.telefoneico:before {
  background-image: url("./img/telefoneico.png");
}
